/*
html {
    height:100%;
}
*/
body{
    margin:0px;
    padding:0px;
    height:100%;
}

iframe {
    position:fixed;
    left:50%;
    top:0px;
    width:49.8%;
    height:100%;  
    border:none;
    border-left:solid 4px #050505;
    background-color:#fff;
}
